[user]
	name = Laurynas Biveinis
	email = laurynas.biveinis@gmail.com
[magit]
	hideCampaign = true
[diff]
	renamelimit = 100000
[fetch]
	prune = true
[rerere]
	enabled = false
[commit]
	gpgsign = true
[gpg]
	program = gpg1
