dotfiles/extra_modules

# Optional Elisp packages
emacs/.emacs.d/elpa/bison-mode-*
emacs/.emacs.d/elpa/cmake-font-lock-*
emacs/.emacs.d/elpa/cmake-mode-*
emacs/.emacs.d/elpa/deadgrep-*
emacs/.emacs.d/elpa/eldoc-cmake-*
emacs/.emacs.d/elpa/elpy-*
emacs/.emacs.d/elpa/exec-path-from-shell-*
emacs/.emacs.d/elpa/flycheck-google-cpplint-*
emacs/.emacs.d/elpa/forge-*
emacs/.emacs.d/elpa/ghub-*
emacs/.emacs.d/elpa/grab-mac-link-*
emacs/.emacs.d/elpa/ob-rust-*
emacs/.emacs.d/elpa/pr-review-*
emacs/.emacs.d/elpa/rust-mode-*
emacs/.emacs.d/elpa/rustic-*
emacs/.emacs.d/elpa/wgrep-deadgrep-*

emacs/.emacs.d/elpa/vterm-*/build/
emacs/.emacs.d/elpa/vterm-*/vterm-module.so
emacs/.emacs.d/elpa/tree-sitter-langs-*/bin/
emacs/.emacs.d/elpa/tsc-*/tsc-dyn.dylib
emacs/.emacs.d/elpa/emacsql-sqlite-3.1.1/sqlite/emacsql-sqlite
emacs/.emacs.d/elpa/gnupg/
emacs/.emacs.d/package-quickstart.el
emacs/.emacs.d/package-quickstart.elc
/scripts/usr/lib/python/__pycache__/
/.projectile-cache.eld
/.claude/
