dotfiles/extra_modules
emacs/.emacs.d/elpa/vterm-*/build/
emacs/.emacs.d/elpa/vterm-*/vterm-module.so
emacs/.emacs.d/elpa/tree-sitter-langs-*/bin/
emacs/.emacs.d/elpa/tsc-*/tsc-dyn.dylib
/emacs/.emacs.d/elpa/emacsql-sqlite-3.1.1/sqlite/emacsql-sqlite
/scripts/usr/lib/python/__pycache__/
