dotfiles/extra_modules
emacs/.emacs.d/elpa/vterm-*/build/
emacs/.emacs.d/elpa/vterm-*/vterm-module.so
/emacs/.emacs.d/elpa/tree-sitter-langs-0.11.4/bin/
/emacs/.emacs.d/elpa/tree-sitter-langs-0.11.6/bin/
/emacs/.emacs.d/elpa/tree-sitter-langs-0.12.0/bin/
