[submodule "dotfiles/3rd_party/osx-terminal.app-colors-solarized"]
	path = dotfiles/3rd_party/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
[submodule "emacs/.emacs.d/elpa/vterm-20221118.1354"]
	path = emacs/.emacs.d/elpa/vterm-20221118.1354
	url = https://github.com/akermu/emacs-libvterm.git
	ignore = dirty
